<!--
Jayden Zhang, Margie Cao, Danny Huang, Kyle Lee
404NotFound
SoftDev
P04
Time spent: tbd
Target Ship Date: 2025-06-06
-->

<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body class="bg-white text-black font-sans">
    <nav class="flex flex-row justify-between items-center h-16 w-full bg-white">
        <h1 class="basis-2/3 order-first ml-10 text-xl font-bold"><a href="/"></a></h1>
        <ul id="navItem" class="basis-1/3 order-last flex flex-row justify-between h-full text-center items-center text-xl">
            <li class="flex items-center">
                <a href="/filter" class="px-4 py-2">Filter</a>
            </li>
            <li class="flex items-center">
                <a href="profile/{{username}}" class="px-4 py-2" id="pbutton">Profile</a>
            </li>
            <li class="flex items-center px-4">
                <a href="/login" class="px-4 py-2 rounded-lg transition" id="login_button">Log In</a>
            </li>
        </ul>
    </nav>
</body>

</html>
