<!--
Jayden Zhang, Margie Cao, Danny Huang, Kyle Lee
404NotFound
SoftDev
P04
Time spent: tbd
Target Ship Date: 2025-06-06
-->

<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/main.js"></script>
    {% block javascript %}
        <script>
            var loggedIn = {{loggedIn}};
            const user = {{username}};
        </script>
    {% endblock %} 
    <title>Search</title>
</head>


<body class="bg-white text-blue-800 font-sans">
    <nav class="flex flex-row justify-between items-center h-20 w-full bg-white border border-b-gray-300 shadow-md">
        <h1 class=" basis-7/24 peer-has-[:focus]:basis-5/24 order-first ml-10 text-blue-700 text-4xl font-bold">ξ<a href="/"></a></h1>
        <ul id="navItem" class="basis-5/12 peer-has-[:focus]:basis-6/12 flex flex-row justify-evenly justify-center-safe h-full text-center items-center text-xl">
            <li class="flex flex-row basis-1/2 items-center justify-center peer w-full has-[:focus]:basis-3/4 ease-in-out">
                <form method="POST" action="/search" class="peer has-[:focus]:w-full">
                    <input class="border border-solid w-full p-2 text-blue-800 rounded-md" type="text" id="search"
                name="search" value={{search}}>
                </form>
            </li>
            <li class="flex flex-row basis-1/2 items-center justify-center w-1/4 peer-has-[:focus]:basis-1/4 ease-in-out hover:border-b-4 hover:border-b-blue-500 hover:text-blue-700 ml-2">
                <a href="saved/{{username}}" class="px-4 py-2" id="sbutton">Saved</a>
            </li>
        </ul>
        <ul class="basis-7/24 flex flex-row-reverse order last h-full text-center items-center text-xl">
            <li class="flex items-center px-4">
                <a href="/login" class="px-4 py-2 rounded-3xl transition bg-blue-600 text-white hover:bg-blue-500 hover:scale-105" id="loginButton">Log In</a>
            </li>
            <li class="flex items-center">
                <a id='lmessage' class="px-4 py-2"></a>
            </li>
        </ul>
    </nav>

    <div class='mx-10 my-10'>
        <h1 class='text-3xl'>Your search result for: {{search}}</h1>
        <div class="ml-10 mt-10 mb-10 max-w-3xl">
            <ul>
                {% if boolean %}
                    {% for pdfTitle in list %}
                        <form method="POST" action="/book"
                            class="transition ease-in-out duration-500 grid grid-col-2 gap-auto px-20 py-10 hover:bg-blue-800 rounded-md hover:text-white hover:cursor-pointer">
                            <div class="transition ease-in-out duration-500 justify-self-start font-bold">{{ pdfTitle }}</div>
                        </form>
                    {% endfor %}
                {% endif %}

                {% if secondBoolean %}
                    <form method="POST" action="/book"
                        class="transition ease-in-out duration-500 grid grid-col-2 gap-auto px-20 py-10 hover:bg-blue-800 rounded-md hover:text-white hover:cursor-pointer">
                        <div class="transition ease-in-out duration-500 justify-self-start font-bold">Click To Search For Textbook</div>
                    </form>
                {% endif %}
            </ul>
        </div>
    </div>
</body>

</html>
