<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/main.js"></script>
    {% block javascript %}
    <script>
        var loggedIn = {{ loggedIn }};
        var user = loggedIn === "true" ? {{ username | tojson }} : null;
        var search = {{ search | tojson }};
        var searchFound = {{searchFound |tojson }};
    </script>
    {% endblock %}
    <title>Search</title>
</head>

<body class="bg-white text-blue-800 font-sans">
    <nav class="flex flex-row justify-between items-center h-20 w-full bg-white border border-b-gray-300 shadow-md">
        <a href="/">
            <h1 class="ml-10 text-blue-700 text-4xl font-bold">ξ</h1>
        </a>
        <ul class="basis-5/12 flex flex-row justify-evenly items-center text-xl">
            <li class="flex flex-row basis-1/2 items-center justify-center w-full">
                <form method="POST" action="/search" class="w-full" id="searchBar">
                    <input class="border w-full p-2 text-blue-800 rounded-md" type="text" id="search" name="search"
                        value="{{ search }}">
                </form>
            </li>
            <li class="basis-1/10 hover:border-b-4 hover:border-b-blue-500 hover:text-blue-700 ml-2">
                <a href="/upload" class="px-4 py-2">Upload</a>
            </li>
            <li class="basis-1/10 hover:border-b-4 hover:border-b-blue-500 hover:text-blue-700 ml-2">
                <a href="/saved/{{username}}" class="px-4 py-2" id="sbutton">Saved</a>
            </li>
        </ul>
        <ul class="basis-7/24 flex flex-row-reverse order last h-full text-center items-center text-xl">
            <li class="flex items-center px-4">
                <a href="/login"
                    class="px-4 py-2 rounded-3xl transition bg-blue-600 text-white hover:bg-blue-500 hover:scale-105"
                    id="loginButton">Log In</a>
            </li>
            <li class="flex items-center">
                <a id='lmessage' class="px-4 py-2"></a>
            </li>
        </ul>
    </nav>

    <div class='mx-10 my-10'>
        <h1 class='text-3xl'>Search Results for: "{{ search }}"</h1>

        <div class="ml-10 mt-10 mb-10 max-w-3xl" id="searchResult">
            <ul>
                {% if list %}
                    {% for pdf in list %}
                    <form method="POST" action="/book"
                        class="transition ease-in-out duration-500 px-6 py-4 my-4 bg-blue-100 hover:bg-blue-800 hover:text-white rounded-md cursor-pointer">
                        <input type="hidden" name="title" value="{{ pdf }}">
                        <button type="submit" class="w-full text-left font-bold">
                            {{ pdf }}
                        </button>
                    </form>
                    {% endfor %}
                {% endif %}

                <!-- {% if secondBool %}
                <form method="POST" action="/scrape">
                    <input type="hidden" name="search" value="{{ search }}">
                    <button type="submit"
                        class="transition ease-in-out duration-500 px-6 py-4 mt-6 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                        Search for Textbook Online
                    </button>
                </form>
                {% endif %} -->

                {% if error %}
                <div class="text-red-600 mt-4">{{ error }}</div>
                {% endif %}
            </ul>
        </div>
    </div>
</body>

</html>
